body {
    font-family: "Trebuchet MS";
    background: rgba(1,1,1, 0.7) url("http://www.yenislayt.com/upload/f04f0d785e.jpg") top left;
    color: whitesmoke;
    font-size: 16px;
}

.summary p:first-letter {
    font-size: larger;
    text-transform: uppercase;
}

.explain {
    font-style: italic;
    font-size: smaller;
}

.title {
    font-family: "Tahoma";
    color: deepskyblue;
    text-transform: capitalize;
}

.pressed-word {
    color: burlywood;
}

a.movie-link {
    text-decoration: none;
    color: crimson;
}

a.movie-link:hover {
    text-decoration: underline;
}

.mood-img {
    height:200px
}
